@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");

* {
  --black: #000000;
  --gray: #a0a0a0;
  --light-gray: #e8e8e8;
  --white: #ffffff;
  --light-orange: #ffcc80;
  --orange: #ff9800;
  --red: #f44336;
  --trans: 0.2s ease;

  font-family: "Libre Baskerville", serif;
  color: var(--black);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: var(--white);
}
main {
  flex-grow: 1;
}
header,
footer {
  background: var(--light-orange);
}
header {
  border-bottom: dotted 2px black;
}
footer {
  border-top: dotted 2px black;
}
section {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 800px;
}
header section,
footer section {
  text-align: center;
}
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1.15em;
  text-align: center;
  margin-bottom: 20px;
}
p {
  margin: 20px 0;
}
input,
button {
  font-size: 1em;
}
button {
  cursor: pointer;
}
a,
a * {
  transition: color var(--trans);
}
a:hover,
a:focus,
a:hover *,
a:focus * {
  color: var(--orange);
}
.center {
  text-align: center;
}
.icon {
  margin-right: 5px;
}
#logo {
  height: 100px;
  margin-top: 20px;
}
#search {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 280px;
  max-width: 100%;
  height: 40px;
  margin: 20px auto;
}
#search input,
#search button {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px var(--black);
  transition: background var(--trans);
}
#search input:hover,
#search input:focus {
  background: var(--light-gray);
}
#search button:focus,
#search button:hover {
  background: var(--orange);
}
#search input {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}
#search button {
  background: var(--light-orange);
  width: 50px;
}
#loading_message,
#error_message,
#journals_section,
#papers_section {
  display: none;
}
.preprint_title {
  text-align: center;
}
.preprint_title a {
  font-style: italic;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
}
.card > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.score {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border: solid 1px;
  border-radius: 999px;
  font-weight: 700;
  cursor: help;
}
.name {
  flex-grow: 1;
  justify-content: flex-start;
  overflow-wrap: break-word;
}
.pmcid {
  overflow-wrap: anywhere;
}
.message {
  text-align: center;
}
.loading * {
  color: var(--gray);
}
.error * {
  color: var(--red);
}
#map {
  display: flex;
}
#map > * {
  height: 500px;
  max-height: 75vh;
}
#hexagon {
  fill: var(--orange);
  stroke: var(--black);
  stroke-width: 0.5px;
}
#grid {
  width: 100%;
}
