flask==1.1.2
flask_restful==0.3.8
gensim==3.8.3
lxml==4.6.3
numpy==1.21.0
pandas==1.2.2
PyMuPDF==1.18.8
requests==2.25.1
rpy2==3.4.2
scikit-learn==0.22.1
scipy==1.5.0
six~=1.15.0
smart-open==3.0.0
spacy==3.0.3
tensorflow==2.5.0
