/* basic */
* {
  --black: #000000;
  --dark-gray: #606060;
  --gray: #a0a0a0;
  --light-gray: #e8e8e8;
  --white: #ffffff;
  --shadow: #00000040;
  --light-orange: #ffcc80;
  --orange: #ff9800;
  --red: #f44336;
  --trans: 0.2s ease;

  font-family: 'Libre Baskerville', serif;
  color: var(--black);
}
html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}
body {
  line-height: 1.5;
  background: var(--white);
}

/* sections */
#root {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
section {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 600px;
}
header,
footer {
  background: var(--light-orange);
}
header {
  border-bottom: dotted 2px black;
}
footer {
  border-top: dotted 2px black;
}
header section,
footer section {
  text-align: center;
}

/* headings */
h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1.15em;
  text-align: center;
  margin-bottom: 20px;
}

/* general util classes */
.center {
  text-align: center;
}
.icon {
  margin-right: 10px;
}

/* elements */
p {
  margin: 20px 0;
}
input,
button {
  font-size: 1em;
}
button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
a,
a * {
  transition: color var(--trans);
}
a:hover,
a:focus,
a:hover *,
a:focus * {
  color: var(--orange);
}
img {
  max-width: 100%;
}
