/* basic */
* {
  --black: #000000;
  --dark-gray: #606060;
  --gray: #a0a0a0;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --shadow: #00000040;
  --light-orange: #ffcc80;
  --orange: #ff9800;
  --blue: #2196f3;
  --red: #f44336;
  --trans: 0.2s ease;

  font-family: 'Libre Baskerville', serif;
  color: var(--black);
}
html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}
body {
  line-height: 1.75;
  background: var(--white);
}

/* sections */
#root {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
section {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 600px;
}
hr {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 600px;
  border: none;
}
hr:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: dotted 2px var(--light-gray);
}
header,
footer {
  background: var(--light-orange);
}
header {
  border-bottom: dotted 2px black;
}
footer {
  border-top: dotted 2px black;
}
header section,
footer section p {
  text-align: center;
}
p {
  margin: 20px 0;
  text-align: justify;
}

/* headings */
h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  margin-bottom: -10px;
}

/* general util classes */
.center {
  text-align: center;
}
.truncate:not(:focus) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

/* icons */
i + span {
  margin-left: 10px;
}
h3 > i {
  margin-right: 10px;
  color: var(--light-orange);
}

/* elements */
a,
a * {
  transition: color var(--trans);
}
a:hover,
a:focus,
a:hover *,
a:focus * {
  color: var(--orange);
}
a[role='button'] {
  text-decoration: underline;
  cursor: pointer;
}
input,
button {
  font-size: 1rem;
}
button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color var(--trans);
}
button:hover,
button:focus {
  color: var(--orange);
}
img {
  max-width: 100%;
}
*:focus {
  outline: solid 2px var(--black);
}

/* tooltip */
.tooltip {
  max-width: min(300px, 100%);
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--black);
  color: var(--white);
  font-size: 0.8rem;
}
