.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}
.card_score {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 20px;
  border-radius: 999px;
  font-weight: 700;
}
.card_details {
  flex-grow: 1;
  width: 0;
}
.card_detail {
  display: block;
  line-height: 1.5;
  margin-bottom: 5px;
}
