.continue_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 50px;
  width: 50px;
  height: 50px;
  transform: translateX(-50%);
  background: var(--white);
  border-radius: 999px;
  border: solid 2px var(--black);
  opacity: 0;
  transition: background var(--trans), opacity 1s ease;
}
.continue_arrow:hover {
  background: var(--orange);
}
.continue_arrow[data-show="true"] {
  opacity: 1;
}