.pc_button {
  position: relative;
  width: 50px;
  margin: 5px;
}
@media (hover: hover) {
  .pc_button:hover {
    z-index: 2;
  }
  .pc_button:hover img {
    transform: scale(10);
  }
}
.pc_button[data-selected='true'] {
  outline: solid 2px var(--black);
}
.pc_button img {
  pointer-events: none;
}
.map {
  width: 100%;
  height: 400px;
  max-height: 75vh;
  overflow: visible;
}
.cell {
  fill: var(--dark-gray);
  cursor: pointer;
  transform-origin: 50% 50%;
}
.cell:hover,
.cell[data-selected='true'] {
  stroke: var(--black);
  stroke-width: 1;
}
.marker {
  fill: var(--orange);
  stroke: var(--black);
  stroke-width: 1;
  pointer-events: none;
}
.cell_detail_row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell_detail_row > * {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cell_detail_row > *:nth-child(2) {
  text-align: right;
}
