.map {
  width: 100%;
  height: 500px;
  max-height: 90vh;
  overflow: visible;
}
.cell {
  cursor: pointer;
}
.cell:hover {
  opacity: 0.5;
}
.cell[data-selected='true'] {
  stroke: var(--black);
  stroke-width: 0.1;
}
.marker {
  fill: var(--red);
  stroke: var(--black);
  stroke-width: 0.1;
  pointer-events: none;
}
