.search {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 280px;
  max-width: 100%;
  height: 40px;
  margin: 20px auto;
}
.search_input,
.search_button {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px var(--black);
  transition: background var(--trans);
}
.search_input:hover,
.search_input:focus {
  background: var(--light-gray);
}
.search_button:focus,
.search_button:hover {
  background: var(--orange);
}
.search_input {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.search_button {
  background: var(--light-orange);
  width: 50px;
}
