.search {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 40px;
  margin: 20px auto;
}
.search_input,
.search_button {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 2px var(--black);
  transition: background var(--trans), opacity var(--trans), filter var(--trans);
}
.search_input:hover:not([disabled]),
.search_input:focus:not([disabled]) {
  background: var(--off-white);
}
.search_button:focus:not([disabled]),
.search_button:hover:not([disabled]) {
  background: var(--orange);
}
.search_input {
  width: 0;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.search_button {
  background: var(--light-orange);
  width: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}
.search_input[disabled],
.search_button[disabled] {
  filter: saturate(0);
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
}
