.tooltip {
  --arrow: 10px;

  position: absolute;
  left: -9999px;
  top: -9999px;
  max-width: min(90vw, 500px);
  padding: 5px;
  background: var(--black);
  font-size: 0.9rem;
  text-align: center;
  z-index: 10;
  pointer-events: none;
}
.tooltip > * {
  color: var(--white);
}
.tooltip_content {
  padding: 10px;
}
.tooltip_arrow {
  position: absolute;
  width: var(--arrow);
  height: var(--arrow);
  z-index: -1;
}
.tooltip_arrow:after {
  content: "";
  position: absolute;
  left: 0;
  width: var(--arrow);
  height: var(--arrow);
  background: var(--black);
  transform: rotate(45deg);
}
.tooltip[data-popper-placement="top"] .tooltip_arrow {
  bottom: calc(-0.5 * var(--arrow));
}
.tooltip[data-popper-placement="bottom"] .tooltip_arrow {
  top: calc(-0.5 * var(--arrow));
}
.tooltip[data-popper-placement="left"] .tooltip_arrow {
  right: calc(-0.5 * var(--arrow));
}
.tooltip[data-popper-placement="right"] .tooltip_arrow {
  left: calc(-0.5 * var(--arrow));
}
